In [1]:
import nfl_data_py as nfl

pbp_data = nfl.import_pbp_data(years=[2023], downcast=True, cache=True, alt_path=None)
pbp_data

[2024-06-02 07:29:46.431][DEBUG][parquet:json.py:__init__:74] Using json encoder/decoder

2023 done.
Downcasting floats.

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,defense_players,n_offense,n_defense,ngs_air_yards,time_to_throw,was_pressure,route,defense_man_zone_type,defense_coverage_type,season
0,1.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,None,None,None,...,,0.0,0.0,NaN,NaN,NaN,None,None,None,2023
1,39.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,00-0036403;00-0038635;00-0036614;00-0039149;00...,11.0,11.0,NaN,NaN,NaN,None,None,None,2023
2,55.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,00-0035705;00-0035636;00-0036933;00-0036896;00...,11.0,11.0,NaN,NaN,NaN,None,None,None,2023
3,77.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,00-0035705;00-0035636;00-0036933;00-0034375;00...,11.0,11.0,4.53,2.169,0.0,HITCH,ZONE_COVERAGE,COVER_3,2023
4,102.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,00-0035705;00-0035636;00-0036933;00-0034375;00...,11.0,11.0,NaN,NaN,NaN,None,None,None,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49660,4791.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,00-0036563;00-0034573;00-0035717;00-0034754;00...,11.0,11.0,NaN,NaN,NaN,None,None,None,2023
49661,4813.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,00-0036563;00-0034573;00-0035717;00-0034754;00...,11.0,11.0,NaN,NaN,NaN,None,None,None,2023
49662,4835.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,00-0036563;00-0034573;00-0036260;00-0035717;00...,11.0,11.0,-3.17,2.069,0.0,SCREEN,ZONE_COVERAGE,COVER_4,2023
49663,4860.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,00-0036563;00-0034573;00-0036260;00-0035717;00...,11.0,11.0,1.41,2.236,0.0,FLAT,MAN_COVERAGE,COVER_0,2023
49664,4881.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,,0.0,0.0,NaN,NaN,NaN,None,None,None,2023

In [2]:
pbp_season_cols = nfl.see_pbp_cols()
pbp_season_cols

Index(['play_id', 'game_id', 'old_game_id', 'home_team', 'away_team',
       'season_type', 'week', 'posteam', 'posteam_type', 'defteam',
       ...
       'out_of_bounds', 'home_opening_kickoff', 'qb_epa', 'xyac_epa',
       'xyac_mean_yardage', 'xyac_median_yardage', 'xyac_success', 'xyac_fd',
       'xpass', 'pass_oe'],
      dtype='object', length=372)

In [3]:
scoring_lines = nfl.import_sc_lines(list(range(1990, 2023)))
scoring_lines

      season  week away_team home_team     game_id side  line
0       2013     1       BAL       DEN  2013090500  BAL   7.5
1       2013     1       BAL       DEN  2013090500  DEN  -7.5
2       2013     1        NE       BUF  2013090800  BUF   9.5
3       2013     1        NE       BUF  2013090800   NE  -9.5
4       2013     1       SEA       CAR  2013090801  CAR   3.5
...      ...   ...       ...       ...         ...  ...   ...
4087    2020    17       JAX       IND  2021010313  JAX  14.0
4088    2020    17       ARI        LA  2021010314  ARI  -2.5
4089    2020    17       ARI        LA  2021010314   LA   2.5
4090    2020    17       SEA        SF  2021010315  SEA  -6.0
4091    2020    17       SEA        SF  2021010315   SF   6.0

[4092 rows x 7 columns]